.upload-view {
  &__errors {
    color: red;
  }

  &__uploader {
    & label {
      height: 100px;
      width: 100%;
      max-width: none;
      border: 1px solid slategray;
    }

    .file-types {
      max-width: none;
    }
  }
}
