.invoice-actions {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
  }
}

.invoice-card {
  &__text {
    display: flex;
    justify-content: space-between;
  }
}

.invoice-view {
  margin-top: 12px;
}
